@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>ShoppingApp</b></h1>
    <p>
        Aplikacja umożliwia domownikom tworzenie i zarządzanie listami zakupów w
        środowisku lokalnym. Każdy użytkownik może się zarejestrować, a następnie
        dodawać produkty do swojej indywidualnej listy zakupów. Dorośli użytkownicy mają
        możliwość wglądu do pełnej listy zakupów, generowania zbiorczej listy produktów (z
        sumowaniem ilości tych samych produktów) oraz jej wydrukowania. Po dokonaniu
        zakupów dorośli mogą również skorzystać z funkcji rozdzielenia zakupów, aby
        zobaczyć, które produkty były przypisane do poszczególnych użytkowników.
    </p>

    <h3>Autorzy:</h3>
    <p>
        ● Jakub Wasielewski 138442
        ● Daniel Wardak 138436
    </p>
</div>
