@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Projekt zaliczeniowy:
    ● Jakub Wasielewski 138442
    ● Daniel Wardak 138436
<br />
    <b>Na użytek własny, nie udostępniać.</b>
</p>
